<h1>Lista de sugestões</h1>
<%= link_to 'Adicionar sugestão', new_suggestion_path %>
<table>
  <tr>
    <th>ID</th>
    <th>Descrição</th>
    <th>Data de criação</th>
    <th colspan="3"></th>
  </tr>
 
  <% @suggestions.each do |suggestion| %>
    <tr>
      <td><%= suggestion.id %></td>
      <td><%= suggestion.description %></td>
      <td><%= suggestion.created_at.strftime("%d/%m/%y") %></td>
      <td><%= button_to 'Excluir', suggestion,
            :method => :delete %></td>
    </tr>
  <% end %>
</table>