<div class="text-center">
  <h1 class="display-3">Lista de sugestões</h1>
  <hr>
  <%= link_to 'Adicionar sugestão', new_suggestion_path, class: 'btn btn-primary mb-3' %>

  <% if can_show_all_suggestions?(Date.current) %>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Descrição</th>
        <th>Data de criação</th>
        <th colspan="3"></th>
      </tr>
     
      <% @suggestions.each do |suggestion| %>
        <tr>
          <td><%= suggestion.id %></td>
          <td><%= suggestion.description %></td>
          <td><%= format_date_ptbr(suggestion.created_at) %></td>
          <td><%= button_to 'Excluir', suggestion,
                :method => :delete,
                class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>