<h1>Lista de sugestões</h1>
<%= link_to 'Adicionar sugestão', new_suggestion_path %>

<% if can_show_all_suggestions?(Date.current) %>
  <table>
    <tr>
      <th>ID</th>
      <th>Descrição</th>
      <th>Data de criação</th>
      <th colspan="3"></th>
    </tr>
   
    <% @suggestions.each do |suggestion| %>
      <tr>
        <td><%= suggestion.id %></td>
        <td><%= suggestion.description %></td>
        <td><%= format_date_ptbr(suggestion.created_at) %></td>
        <td><%= button_to 'Excluir', suggestion,
              :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<% end %>